<section class="nav">
</section>
<section class="lead-capture">
	<div class="lead-capture-header">
	</div>
	<div class="lead-capture-form">
		<div class="form-header">
		</div>
		<form action"POST">
			<input type="text" class="name" param="[name]">
			<input type="text" class="name" param="[name]">
			<input type="text" class="name" param="[name]">
			<input type="text" class="name" param="[name]">
			<input type="text" class="name" param="[name]">
			<input type="text" class="name" param="[name]">
		</form>
	</div>

</section>